network:
    bind_host: {{ es_bind_address }}
    publish_host: {{ es_bind_address }}

http:
    port: {{ es_http_port }}    

transport:
    tcp.port {{ es_transport_port }}    

cluster:
    name: {{ es_cluster_name }}

node:
    name: ${HOSTNAME}    

discovery:
    zen:
        ping:
            multicast.enabled: false
            {% if es_unicast_hosts -%}
            unicast.hosts:
                {% for hostname in es_unicast_hosts -%}
                - {{ hostname }}
                {% endfor %}
            {% endif %}

